<div class="card-body">
  <h1 class="text-center fw-sem-bold">New Course</h1>

  <form [formGroup]="loginForm" (ngSubmit)="handleSubmitForm()" method="post">
    <div class="pl-lg-4">
      <div class="text-center">
        @if (format === 'image' && url) {
        <img [src]="url" height="200" controls />
        }
      </div>

      <div class="form-group w-100">
        <mat-form-field class="example-full-width w-100">
          <mat-label>title</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            [errorStateMatcher]="matcher"
            placeholder="Math Vedio For Beginner"
          />
          @if (loginForm != null) { @if
          (loginForm.get('name')?.hasError('minlength') &&
          !loginForm.get('name')?.hasError('required')) {
          <mat-error>min 3 Charachter</mat-error>
          } @if (loginForm.get('name')?.hasError('required')) {
          <mat-error>course name is <strong>required</strong></mat-error>
          } }
        </mat-form-field>
      </div>

      <div class="form-group w-100">
        <mat-form-field class="example-full-width w-100">
          <mat-label>Price</mat-label>
          <input
            type="number"
            matInput
            formControlName="price"
            [errorStateMatcher]="matcher"
          />
          @if (loginForm != null) { @if
          (loginForm.get('price')?.hasError('pattern') &&
          !loginForm.get('price')?.hasError('required')) {
          <mat-error>price must br number</mat-error>
          } @if (loginForm.get('price')?.hasError('required')) {
          <mat-error>course price is <strong>required</strong></mat-error>
          } }
        </mat-form-field>
      </div>
      <div class="form-group w-100">
        <mat-form-field class="example-full-width w-100">
          <mat-label>duration</mat-label>
          <input
            type="text"
            matInput
            formControlName="duration"
            [errorStateMatcher]="matcher"
          />
          @if (loginForm != null){ @if (loginForm.get('duration')?.hasError('required')) {
          <mat-error>course duration is <strong>required</strong></mat-error>
          } }
        </mat-form-field>
      </div>

      <div class="form-group w-100">
        <div class="mt-2">
          <label for="vedio" class="m-2">Upload Video</label>
          <input
            type="file"
            formControlName="vedio"
            class="btn w-100"
            accept="image/*"
            (change)="onSelectFile($event)"
          />
        </div>
      </div>
    </div>
    <button class="btn btn-warning float-end my-3 btn-lg" type="submit">
      create
    </button>
  </form>
</div>
