<section>
  <h1 class="text-center fw-bold " >What do we offer?</h1>
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-head">
            <img src="../../../assets/service 3.png"  width="100%" alt="">
          </div>
          <div class="card-body  ">
            <h1 class="fw-bold" >التقييم والمتابعه المستمره </h1>
            <p> المتابعه المستمره من المدرسين والمحاضريين والتقييم المستمر  </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-head">
            <img src="../../../assets/service 1.png" width="100%" alt="">
          </div>
          <div class="card-body ">
            <h1 class="fw-bold" >التعلم عن بعد </h1>
            <p>توفير العديد من الكورسات والدروس الذي يقدمها اكفأ المدرسين والمتخصصين في هذا المجال</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-head">
            <img src="../../../assets/service 2.png" width="100%" alt="">
          </div>
          <div class="card-body ">
            <h1 class="fw-bold" >مساعدة دراسية فورية</h1>
            <p>اطرح سؤال و سيقوم فوراً احد مدرسينا المعتمدين بشرحه بشكل مرئي في فصولنا التفاعلية</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
