<section class=" pt-5 d-md-flex align-items-center justify-content-between">

  <div class="container container-text text-center pt-5 ">
    <h1 class="mt-4 fw-bold">فصول افتراضية بأدوات تفاعلية    </h1>
    <div class="text ">
      <p>تقدم فصول دروس الافتراضية ادوات تفاعلية متقدمة تسمح للمدرس بتقديم تجربة تعليمية<br>  ثرية و ممتعة من خلال الاتصال الصوتي و المرئي <br>و كذلك السبورة التفاعلية و ادوات كتابة المعادلات الرياضية بالاضافة الى امكانية رفع الملفات  <br>و الصور و العديد من الادوات التي تم تطويرها بأحدث تقنيات التعليم و الاتصال.</p>
    </div>
    <div class=" mt-3">
      <button class="btn btn-warning  mt-2 mx-5 btn-lg" > ابدأ الان  <i class="fas fa-arrow-right"></i> </button>
    </div>
  </div>


  <div class="container container-img">
    <video  src="../../../assets/vedio/E-Learning infographic video with Adobe After effects.mp4" width="100%" height="100%" autoplay loop  muted ></video>
  </div>
</section>
