<section>
  <div class="title">
    <p>Home</p>
  </div>
</section>

<div class="body">
  <div class="d-flex  flex-column flex-md-row justify-content-around  ">
    <div >
      <div class="card my-2">
        <span>{{NoLecturer}}</span>
        <p>Lecturer</p>
      </div>
    </div>
    <div >
      <div class="card my-2">
        <span>{{NoStudent}}</span>
        <p>students</p>
      </div>
    </div>
    <div >
      <div class="card my-2">
        <span>-</span>
        <p>parents</p>
      </div>
    </div>
  </div>
  <div class="d-flex  flex-column flex-md-row justify-content-around  ">
    <div >
      <div class="card my-2">
        <span>{{NoVedio}}</span>
        <p>Vedio</p>
      </div>
    </div>
    <div >
      <div class="card my-2">
        <span>{{NoLecture}}</span>
        <p>Lecture</p>
      </div>
    </div>
    <div >
      <div class="card my-2">
        <span>{{NoCourse}}</span>
        <p>course</p>
      </div>
    </div>
  </div>
</div>
