<section class=" pt-5 d-md-flex align-items-center justify-content-between">

  <div class="container container-img">
    <img src="../../../assets/img1.png"  width="100%" height="100%" alt="">
  </div>
  <div class="container container-text text-center pt-5 ">
    <h1 class="mt-4">منصه الخلاصه التعليميه </h1>
    <div class="text pt-5">
      <p class="m-0 mt-1 p-0 fw-semi-bold" >احصل على المساعدة الدراسية التي تحتاجها في لحظات و استمتع بتجربة تعليمية <br> ممتعة و فريدة من نوعها.</p>
      <br>
      <p class="m-0 mt-1 p-0 fw-semi-bold">بخطوات بسيطة بإمكانك الوصول الى اكفاء المدرسين اونلاين ليقوموا بمساعدتك <br> والاجابة على اسئلتك الخاصة بالمنهج الدراسي.</p>
    </div>
    <div class=" mt-3">
      @if (!userToken) {
        <button class="btn btn-primary mt-2 mx-5  btn-lg " > تسجيل الدخول </button>
      }
      <button class="btn btn-warning  mt-2 mx-5 btn-lg " > اشترك الان  </button>
    </div>
  </div>
</section>
